{% load static %}
{% load custom_tags %}
{% load i18n %}
{% block extra_css %}
    <link href="{% static 'network/post_comment_styles.css' %}" rel="stylesheet">  
    {{ form.media.css }}
    <link href="{% static 'network/forms.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block scripts %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

    

<div class="post-comment-element">
    <div class="post" id='post_{{ post.id }}'>
        <div class="post-profile-picture">
            <img src="{{ post.user.profile.image.url }}" title={{ post.user }} alt="profile picture">
            <a href="{% url 'user-profile' user_id=post.user.id %}">{{ post.user }}</a>
            <a href="{% url 'category' cat=post.categ %}"> {{post.categ}}</a>
        </div>
        <div class="post-date">
            {% trans "Posted: " %} {{post.date|timesince}} {% trans "ago" %}
        </div>
        <div class="post-content">
            {{ post.content}}
        </div>
        <div class="comment-data">
            <span class="like-count">{% trans "Likes:" %}{{post.num_likes}}</span>
            <span class="comment-count">{% trans "Comments:" %} {{post.comments.all.count}}</span>
        </div>
    </div>
    {% if user.is_authenticated %}
            <div class="container">
                <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <form action="{% url 'like-post-view' %}" method="POST" class='like-form' id="{{post.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>   
                        <button type="submit" class="ui button like-btn">
                            {% if profile not in post.liked.all %}
                                Like
                            {% else %}
                                Unlike
                            {% endif %}
                        </button>
                    </form>
            </div></div>

            <div class="col-sm-6">
            <div class="text-center"> 
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{post.id}}"
             aria-expanded="true" aria-controls="collapse{{post.id}}"> Comments</button>
        </div></div> </div></div> 
        
        <div class="collapse" id="collapse{{post.id}}" >
        <div class="card card-body"> 
        {% for comment in post.comments.all %}
             {% include "network/comments.html" %}
        {% endfor %}
        </div>
    </div> 

        <div class="comment-form-wrapper">
            <a href="{% url 'user-profile' user_id=user.id %}">
                <img class="comment-profile-picture" src="{{ user.profile.image.url }}" title={{ user }} alt="profile picture">
            </a>
            <form action="{% url 'post-comment' action='comment' %}" method="post">
                {% csrf_token %}
                <div class="comment-form-content">
                    {{ comment_form.content}}
                    <button type="submit" class="icon-button">
                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-chat-fill" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                        </svg>
                    </button>
                    <input type="hidden" name="postId" value={{ post.id }}>
                </div>
            </form>
            
    
    </div>
   {% endif %} 
   
</div>
